<?xml version="1.0"?>

<robot name="urwh" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find ur_desc)/urdf/ur5_robotiq_85/model2.urdf" />
	<xacro:include filename="$(find ur_desc)/urdf/ur5_robotiq_85/kinect.xacro" />
	<!--<xacro:include filename="$(find ur_desc)/urdf/ur5_robotiq_85/kinect2.xacro" />-->
	<xacro:include filename="$(find ur_desc)/urdf/ur5_robotiq_85/hole.urdf" />
	<xacro:property name="kinect_offset_x" value="-0.168" />
	<xacro:property name="kinect_offset_y" value="1.25" />
	<xacro:property name="kinect_offset_z" value="1.45" />

	<xacro:property name="kinect2_offset_x" value="0" />
	<xacro:property name="kinect2_offset_y" value="0.08" />
	<xacro:property name="kinect2_offset_z" value="0" />

	<!-- Attach the Kinect -->

	<joint name="middle_frame_joint" type="fixed">
		<origin xyz="${kinect_offset_x} ${kinect_offset_y} ${kinect_offset_z}" rpy="0 1.5707 0 " />
		<parent link="base_link"/>
		<child link="camera_link"/>
	</joint>
<!--
	<joint name="kinetic_hand_joint" type="fixed">
		<origin xyz="${kinect2_offset_x} ${kinect2_offset_y} ${kinect2_offset_z}" rpy="0 0 1.5707 " />
		<parent link="wrist_3_link"/>
		<child link="camera2_link"/>
	</joint>
-->
	<joint name="hole_joint" type="fixed">
		<origin xyz="0 0 0.78" rpy="1.5707 0 0 " />
		<parent link="world"/>
		<child link="hole_link"/>
	</joint>

<gazebo>
   <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
        <arm>
           <arm_name>urwh</arm_name>
           <palm_link> wrist_3_link  </palm_link>
           <gripper_link> gripper_finger_link1 </gripper_link>
           <gripper_link> gripper_finger_link2 </gripper_link>
        </arm>
       <forces_angle_tolerance>100</forces_angle_tolerance>
       <update_rate>60</update_rate>
       <grip_count_threshold>4</grip_count_threshold>
       <max_grip_count>8</max_grip_count>
       <release_tolerance>0.005</release_tolerance>
       <disable_collisions_on_attach>true</disable_collisions_on_attach>
       <contact_topic>__default_topic__</contact_topic>
    </plugin>
</gazebo>



	<!--<xacro:kinect_camera2 prefix="camera2"/>-->
	<xacro:kinect_camera prefix="camera"/>

</robot>
